<header>
    <div class="top-bar">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md">
                    <div class="left-top">
                        <div class="email-box">
                            <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> contato@escoladescans.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="right-top">
                        <div class="social-box"> 
                            <ul>
                                <li><a href="#"><fa-icon [icon]="faFacebookSquare" aria-hidden="true"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faInstagramSquare" aria-hidden="true"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faTwitterSquare" aria-hidden="true"></fa-icon></a></li>
                                <li><a href="#"><fa-icon [icon]="faRssSquare" aria-hidden="true"></fa-icon></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bot-bar">
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <fa-icon [icon]="faBars" (click)="toggleNavMenu()" class="navbar-toggle" aria-hidden="true"></fa-icon>
                    <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="image"></a>
                </div>
                <div [style.display]="isNavMenuOpened ? 'block' : 'none'" id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="active" href="index.html">Home</a></li>
                        <li><a href="about-us.html">Mangas</a></li>
                        <li><a href="services.html">Scanlators</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>